<h1>Book detail</h1>

<%= image_tag @user.get_profile_image(100, 100) %>
<div>
  <p>Title：<%= @book.title %></p>
  <p>Opinion：<%= @book.body %></p>
  <p>ユーザーネーム：<%= @book.user.name %></p>
  <%= link_to "Edit", edit_book_path(params[:id]), class: "btn btn-success"  %>
  <%= link_to "Destroy", book_path(params[:id]), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger"  %>

</div>
